SUPABASE_PROJECT_REF=ngcioiearbemwqzavcfp
SUPABASE_DB_PASSWORD=YOUR_DB_PASSWORD
SUPABASE_DB_URL=postgresql://postgres.ngcioiearbemwqzavcfp:${SUPABASE_DB_PASSWORD}@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require
SUPABASE_URL=https://ngcioiearbemwqzavcfp.supabase.co
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
